div.logfile {
	border-style: solid;
	width: 800px;
	height: 400px;
	position: absolute;
	background-color: lightgrey;
	top: 75px;
	left: 200px;
	visibility: hidden;
}
iframe#logframe {
	width: 800px;
	height: 350px;
}
